* {
  cursor: url('/public/cursor/green_kitty.png'), auto;
}

a, button, .clickable {
  cursor: url('/public/cursor/green_paw.png'), pointer;
}

html, body {
  height: 100%;
  margin: 0;
}

#game-container {
  position: relative;
  min-height: 100vh;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #4932C9;
  background: #E2E2E2;
  padding: 4px;
  box-shadow: 4px 4px rgba(80, 20, 255, 0.2);
  width: fit-content;
}

.box:hover {
  background: #94F1E1;
}

.box:hover .title-bar {
  background: #EDD0EE;
}

.title-bar {
  border: 2px solid #4932C9;
  background: #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 6px;
  font-family: monospace;
  font-weight: bold;
  font-size: 21px;
  color: #4932C9;
  height: 22px;
  position: relative;
  z-index: 2;
}

.title-btns {
  display: flex;
  gap: 3px;
}

.btn {
  width: 16px;
  height: 16px;
  border: 1px solid #4932C9;
  background: #F8E1FB;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-family: monospace;
  color: #4932C9;
  cursor: default;
  user-select: none;
}

#kaplay-game {
  display: block;
  border: 2px solid #4932C9;
  margin-top: 4px;
  position: relative;
  z-index: 2;
}